## Machine Learning

In [ ]:
# Import dependencies
from pymongo import MongoClient
from password import connection_string
import pandas as pd
import numpy as np

In [143]:
# Take data off of MongoDB
final_df = pd.DataFrame(list(final_df_collection.find()))

In [144]:
# Getting the first 5 rows of final_df
final_df.head()

,_id,Host City,Year,Team,Season,Season (Binary),Latitude,Longitude,Host,GDP Total,...,Total Events,Total Countries,GDP per Capita,Team Disciplines,Team Events,Team Size,Bronze,Silver,Gold,Total Medals
0,60a03e0375b9fcc5fa8278b7,Stockholm,1912,Finland,Summer,1,61.924110,25.748151,0,9.707610e+09,...,102.0,28.0,3274.000000,10,49,164,9.0,8.0,9.0,26.0
1,60a03e0375b9fcc5fa8278b8,Albertville,1992,USA,Winter,0,37.090240,-95.712891,0,9.520302e+12,...,57.0,64.0,37045.330120,12,56,148,2.0,4.0,5.0,11.0
2,60a03e0375b9fcc5fa8278b9,Lillehammer,1994,Norway,Winter,0,60.472024,8.468946,1,2.097252e+11,...,61.0,67.0,48305.780704,10,48,87,5.0,10.0,8.0,23.0
3,60a03e0375b9fcc5fa8278ba,Squaw Valley,1960,Norway,Winter,0,60.472024,8.468946,0,7.775834e+10,...,27.0,30.0,21705.000000,6,17,29,0.0,3.0,3.0,6.0
4,60a03e0375b9fcc5fa8278bb,Atlanta,1996,Netherlands,Summer,1,52.132633,5.291266,0,5.611086e+11,...,271.0,197.0,36053.428086,19,94,239,10.0,5.0,4.0,19.0

In [146]:
# Dropping an uneccessary column
final_df.drop('_id', axis=1, inplace=True)

In [147]:
# Getting the first 5 rows of final_df
final_df.head()

,Host City,Year,Team,Season,Season (Binary),Latitude,Longitude,Host,GDP Total,Population,...,Total Events,Total Countries,GDP per Capita,Team Disciplines,Team Events,Team Size,Bronze,Silver,Gold,Total Medals
0,Stockholm,1912,Finland,Summer,1,61.924110,25.748151,0,9.707610e+09,2965061.0,...,102.0,28.0,3274.000000,10,49,164,9.0,8.0,9.0,26.0
1,Albertville,1992,USA,Winter,0,37.090240,-95.712891,0,9.520302e+12,256990608.0,...,57.0,64.0,37045.330120,12,56,148,2.0,4.0,5.0,11.0
2,Lillehammer,1994,Norway,Winter,0,60.472024,8.468946,1,2.097252e+11,4341616.0,...,61.0,67.0,48305.780704,10,48,87,5.0,10.0,8.0,23.0
3,Squaw Valley,1960,Norway,Winter,0,60.472024,8.468946,0,7.775834e+10,3582508.0,...,27.0,30.0,21705.000000,6,17,29,0.0,3.0,3.0,6.0
4,Atlanta,1996,Netherlands,Summer,1,52.132633,5.291266,0,5.611086e+11,15563252.0,...,271.0,197.0,36053.428086,19,94,239,10.0,5.0,4.0,19.0

In [ ]:
# Making the datasets
X = final_df.iloc[:, 4:20].values
y = final_df.iloc[:, 23].values

In [ ]:
from sklearn.model_selection import train_test_split

# Splitting the datasets into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# Training and testing the model
regressor = RandomForestRegressor(n_estimators=500, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [ ]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

In [ ]:
# Getting the accuracy of the model
accuracy = regressor.score(X_test, y_test)
accuracy

In [ ]:
print(y_pred[19:22])

In [ ]:
print(y_test)

In [ ]:
# Creating a test DataFrame
usa_test = {'Season (Binary)': 0, 'Latitude': 37.0902, 'Longitude': 95.7129, 'Host': 0, 'GDP Total': 20580000000000,
           'Population': 327200000, 'Total Disciplines': 15, 'Males': 134, 'Females': 107,
           'Total Athletes': 2922, 'Total Events': 102, 'Team Disciplines': 15, 'Team Events': 97,
           'Total Countries': 92, 'GDP per Capita': 62897.3105134, 'Team Size': 241}

usa_test_df = pd.DataFrame(usa_test, index=[0])

In [ ]:
# Viewing the test DataFrame
usa_test_df

In [ ]:
# Testing the model
y_pred = regressor.predict(usa_test_df)

In [ ]:
# Not bad. The actual result was 23 medals
print(y_pred)